h5py==3.16.0
Brotli==1.1.0
MarkupSafe==3.0.2
PySocks==1.7.1
PyYAML==6.0.2
absl-py==2.3.1
accelerate==1.13.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
archspec==0.2.5
asttokens==3.0.0
astunparse==1.6.3
attrs==25.3.0
beautifulsoup4==4.13.4
bleach==6.3.0
blis==1.3.3
boltons==24.0.0
catalogue==2.0.10
certifi==2026.2.25
cffi==2.0.0
chardet==5.2.0
charset-normalizer==3.4.2
click==8.2.1
cloudpathlib==0.23.0
cmake==4.0.2
colorama==0.4.6
conda==25.7.0
conda-build==25.5.0
conda_index==0.6.1
conda-libmamba-solver==25.3.0
conda-package-handling==2.4.0
conda_package_streaming==0.11.0
confection==0.1.5
contourpy==1.3.3
cryptography==46.0.5
cycler==0.12.1
cymem==2.0.13
datasets==4.6.1
db-dtypes==1.5.0
decorator==5.2.1
dill==0.4.0
distro==1.9.0
dnspython==2.7.0
en_core_web_sm==3.8.0
et_xmlfile==2.0.0
evalidate==2.0.5
exceptiongroup==1.3.0
executing==2.2.0
expecttest==0.3.0
filelock==3.18.0
fonttools==4.61.1
frozendict==2.4.6
frozenlist==1.8.0
fsspec==2025.5.1
gitdb==4.0.12
GitPython==3.1.46
google-api-core==2.30.0
google-auth==2.48.0
google-auth-oauthlib==1.3.0
google-cloud-bigquery==3.40.1
google-cloud-core==2.5.0
google-crc32c==1.8.0
google-resumable-media==2.8.0
googleapis-common-protos==1.72.0
graphviz==0.21
grpcio==1.71.0
grpcio-status==1.71.0
h11==0.16.0
h2==4.2.0
hf-xet==1.3.2
hpack==4.1.0
httpcore==1.0.9
httpx==0.28.1
huggingface_hub==1.5.0
hyperframe==6.1.0
hypothesis==6.135.0
idna==3.10
ImageIO==2.37.2
importlib_metadata==8.7.0
importlib_resources==6.5.2
ipython==9.3.0
ipython_pygments_lexers==1.1.1
jedi==0.19.2
Jinja2==3.1.6
joblib==1.5.3
jsonpatch==1.33
jsonpickle==4.1.1
jsonpointer==3.0.0
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
kaggle==2.0.0
kagglehub==1.0.0
kagglesdk==0.1.16
kiwisolver==1.4.9
langchain==1.2.10
langchain-core==1.2.17
langgraph==1.0.10
langgraph-checkpoint==4.0.1
langgraph-prebuilt==1.0.8
langgraph-sdk==0.3.9
langsmith==0.7.12
lazr.uri==1.0.7
lazy_loader==0.4
libarchive-c==5.3
libmambapy==2.1.1
lief==0.16.4
lintrunner==0.12.7
lxml==6.0.2
Markdown==3.9
markdown-it-py==4.0.0
matplotlib==3.10.8
matplotlib-inline==0.1.7
matplotlib-venn==1.1.2
mdurl==0.1.2
menuinst==2.2.0
mpmath==1.3.0
msgpack==1.1.0
multidict==6.7.1
multiprocess==0.70.18
murmurhash==1.0.15
narwhals==2.17.0
networkx==3.5
ninja==1.11.1.4
nltk==3.9.3
numpy==2.2.6
nvidia-cublas-cu11==11.11.3.6
nvidia-cuda-cupti-cu11==11.8.87
nvidia-cuda-nvrtc-cu11==11.8.89
nvidia-cuda-runtime-cu11==11.8.89
nvidia-cudnn-cu11==9.1.0.70
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.3.0.86
nvidia-cusolver-cu11==11.4.1.48
nvidia-cusparse-cu11==11.7.5.86
nvidia-nccl-cu11==2.21.5
nvidia-nvtx-cu11==11.8.86
oauthlib==3.3.1
openpyxl==3.1.5
optree==0.16.0
orjson==3.11.7
ormsgpack==1.12.2
packaging==25.0
pandas==2.3.3
pandas-datareader==0.10.0
pandas-gbq==0.33.0
pandas-stubs==3.0.0.260204
param==2.3.2
parso==0.8.4
pexpect==4.9.0
pickleshare==0.7.5
pillow==11.0.0
pip==26.0.1
pkginfo==1.12.1.2
pkgutil_resolve_name==1.3.10
platformdirs==4.3.8
plotly==6.6.0
pluggy==1.5.0
preshed==3.0.12
progressbar2==4.5.0
prompt_toolkit==3.0.51
propcache==0.4.1
proto-plus==1.27.1
protobuf==5.29.3
psutil==7.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
py4j==0.10.9.9
pyarrow==23.0.1
pyasn1==0.6.2
pyasn1_modules==0.4.2
pycosat==0.6.6
pycparser==2.22
pydantic==2.12.5
pydantic_core==2.41.5
pydata-google-auth==1.9.1
pydot==4.0.1
pydotplus==2.0.2
Pygments==2.19.1
pygraphviz==1.14
pyparsing==3.3.2
python-dateutil==2.9.0.post0
python-etcd==0.4.5
python-slugify==8.0.4
python-utils==3.9.1
pytz==2025.2
referencing==0.36.2
regex==2026.2.28
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rich==14.3.3
rpds-py==0.25.1
rsa==4.9.1
ruamel.yaml.clib==0.2.8
ruamel.yaml==0.18.12
safetensors==0.7.0
scikit-image==0.26.0
scikit-learn==1.8.0
scipy==1.17.1
sentence-transformers==5.2.3
sentry-sdk==2.54.0
setuptools==75.8.2
shellingham==1.5.4
six==1.17.0
smart_open==7.5.1
smmap==5.0.2
sortedcontainers==2.4.0
soupsieve==2.7
spacy==3.8.11
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.5.2
stack_data==0.6.3
sympy==1.14.0
tenacity==9.1.4
tensorboard==2.20.0
tensorboard-data-server==0.7.0
text-unidecode==1.3
thinc==8.3.10
threadpoolctl==3.6.0
tifffile==2026.3.3
tokenizers==0.22.2
torch==2.7.1+cu118
torchaudio==2.7.1+cu118
torchelastic==0.2.2
torchvision==0.22.1+cu118
tqdm==4.67.1
traitlets==5.14.3
transformers==5.3.0
triton==3.3.1
truststore==0.10.1
typer==0.24.1
typer-slim==0.24.0
types-dataclasses==0.6.6
typing_extensions==4.15.0
typing-inspection==0.4.2
tzdata==2025.3
urllib3==2.4.0
uuid_utils==0.14.1
wadllib==2.0.0
wandb==0.25.0
wasabi==1.1.3
wcwidth==0.2.13
weasel==0.4.3
webencodings==0.5.1
Werkzeug==3.1.3
wheel==0.45.1
wrapt==2.1.1
xxhash==3.6.0
yarl==1.23.0
zipp==3.23.0
zstandard==0.23.0
